name: Run Tests

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test-pipeline:
    runs-on: ubuntu-latest
    environment: test_pipeline

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Setup environment
        id: setup_environment
        run: |
          echo > .env
          # following keys used to check if the api still works, these tests are skipped if not api key provided in env
          echo "MARKER_API_KEY=${{ secrets.MARKER_API_KEY}}" >> .env
          echo "GOOGLE_VISION_API_KEY=${{ secrets.GOOGLE_VISION_API_KEY}}" >> .env

      - name: Unit tests
        id: unit_tests
        run: |
          set -a; 
          source .env;
          set +a;
          pip install -e .[tests]
          pytest --cov --cov-branch --cov-report=xml --junitxml=junit.xml -o junit_family=legacy tests/src -v

      - name: Upload coverage reports to Codecov
        id: upload_unit_test_coverage
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        id: upload_unit_test_results
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
